* {
  margin: 0;
  padding: 0;
}

.sign-up-form {
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
}

.form-input {
  width: 300px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #cc683c;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
  outline: none;
  padding: 10px 0;
  transition: border-bottom-color 0.8s;
}

.form-input:focus {
  border-bottom-color: #cc683c;
}

.sign-up-form button {
  display: block;
  width: 150px;
  padding: 8px 5px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
